// colors
$accentColor = #bf0613
$textColor = #2f4858
$borderColor = #eaecef
$codeBgColor = #236c6f
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #bf0613
